{% extends "base.html" %}
{% block content %}
<!-- blogs -->
<section class="blog-section">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card mb-4">
                            <div class="d-flex justify-content-start m-2">
                                <div>
                                    <img src="https://instalite.herokuapp.com/media/default.png" alt=""
                                        class="user-avatar">
                                </div>
                                <div class="text-center mt-1">
                                    <a href="">
                                        <h6><small>Wilson Kinyua</small></h6>
                                    </a>
                                </div>
                            </div>
                            <img src="https://phantom-elmundo.unidadeditorial.es/090a5e412e827f04c3801f923d0426d3/crop/0x0/3072x2048/resize/1200/f/jpg/assets/multimedia/imagenes/2021/09/09/16312154726086.jpg"
                                class="card-img-top" alt="News Image">
                            <div class="card-body">
                                <small>
                                    <div class="d-flex justify-content-start">
                                        <div>
                                            <p>
                                               <a href=""> <i class="far fa-heart"></i></a>
                                            </p>
                                        </div>
                                        <div>
                                            <p>
                                               <a href=""> <i class="far fa-comment"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </small>
                                <a href="">
                                    <p class="fade-item">4 Likes <br>View All 20 Comments</p>
                                    <h6 class="">Man attacked by alligator in Hurricane Ida's floodwaters</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4">
                            <div class="d-flex justify-content-start m-2">
                                <div>
                                    <img src="https://instalite.herokuapp.com/media/default.png" alt=""
                                        class="user-avatar">
                                </div>
                                <div class="text-center mt-1">
                                    <a href="">
                                        <h6><small>Wilson Kinyua</small></h6>
                                    </a>
                                </div>
                            </div>
                            <img src="https://phantom-elmundo.unidadeditorial.es/090a5e412e827f04c3801f923d0426d3/crop/0x0/3072x2048/resize/1200/f/jpg/assets/multimedia/imagenes/2021/09/09/16312154726086.jpg"
                                class="card-img-top" alt="News Image">
                            <div class="card-body">
                                <small>
                                    <div class="d-flex justify-content-start">
                                        <div>
                                            <p>
                                               <a href=""> <i class="far fa-heart"></i></a>
                                            </p>
                                        </div>
                                        <div>
                                            <p>
                                               <a href=""> <i class="far fa-comment"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </small>
                                <a href="">
                                    <p class="fade-item">4 Likes <br>View All 20 Comments</p>
                                    <h6 class="">Man attacked by alligator in Hurricane Ida's floodwaters</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4">
                            <div class="d-flex justify-content-start m-2">
                                <div>
                                    <img src="https://instalite.herokuapp.com/media/default.png" alt=""
                                        class="user-avatar">
                                </div>
                                <div class="text-center mt-1">
                                    <a href="">
                                        <h6><small>Wilson Kinyua</small></h6>
                                    </a>
                                </div>
                            </div>
                            <img src="https://phantom-elmundo.unidadeditorial.es/090a5e412e827f04c3801f923d0426d3/crop/0x0/3072x2048/resize/1200/f/jpg/assets/multimedia/imagenes/2021/09/09/16312154726086.jpg"
                                class="card-img-top" alt="News Image">
                            <div class="card-body">
                                <small>
                                    <div class="d-flex justify-content-start">
                                        <div>
                                            <p>
                                               <a href=""> <i class="far fa-heart"></i></a>
                                            </p>
                                        </div>
                                        <div>
                                            <p>
                                               <a href=""> <i class="far fa-comment"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </small>
                                <a href="">
                                    <p class="fade-item">4 Likes <br>View All 20 Comments</p>
                                    <h6 class="">Man attacked by alligator in Hurricane Ida's floodwaters</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4">
                            <div class="d-flex justify-content-start m-2">
                                <div>
                                    <img src="https://instalite.herokuapp.com/media/default.png" alt=""
                                        class="user-avatar">
                                </div>
                                <div class="text-center mt-1">
                                    <a href="">
                                        <h6><small>Wilson Kinyua</small></h6>
                                    </a>
                                </div>
                            </div>
                            <img src="https://phantom-elmundo.unidadeditorial.es/090a5e412e827f04c3801f923d0426d3/crop/0x0/3072x2048/resize/1200/f/jpg/assets/multimedia/imagenes/2021/09/09/16312154726086.jpg"
                                class="card-img-top" alt="News Image">
                            <div class="card-body">
                                <small>
                                    <div class="d-flex justify-content-start">
                                        <div>
                                            <p>
                                               <a href=""> <i class="far fa-heart"></i></a>
                                            </p>
                                        </div>
                                        <div>
                                            <p>
                                               <a href=""> <i class="far fa-comment"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </small>
                                <a href="">
                                    <p class="fade-item">4 Likes <br>View All 20 Comments</p>
                                    <h6 class="">Man attacked by alligator in Hurricane Ida's floodwaters</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}