{% extends "base.html" %}
{% block content %}
<!-- blogs -->
<section class="blog-section">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    {% for image in images %}
                    <div class="col-md-3">
                        <div class="card mb-4">
                            <div class="d-flex justify-content-start m-2">
                                <div>
                                    <img src="https://res.cloudinary.com/developerwilson/image/upload/v1632582461/rzfpe5avqvhfbrtkwtqg.jpg" alt=""
                                        class="user-avatar border-radius">
                                </div>
                                <div class="text-center mt-1">
                                    <a href="">
                                        <h6><small>{{ image.user.username }} </small></h6>
                                        
                                    </a>
                                </div>
                            </div>
                            <img src="{{ image.image.url }}"
                                class="card-img-top" alt="News Image">
                            <div class="card-body">
                                <small>
                                    <div class="d-flex justify-content-start">
                                        <div>
                                            <p>
                                               <a href=""> <i class="far fa-heart"></i></a>
                                            </p>
                                        </div>
                                        <div>
                                            <p>
                                               <a href=""> <i class="far fa-comment"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </small>
                                <a href="">
                                    <p class="fade-item">4 Likes <br>View All 20 Comments</p>
                                    <h6 class="">{{ image.image_caption }}</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}