{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the Homepage</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec eget nunc vitae nunc tincidunt sagittis.
                Nullam euismod, nisi vel tincidunt ornare,
                nisl nunc consequat nunc, eget consectetur nisl
                nunc eget nunc.
            </p>
        </div>
    </div>
{% endblock %}